body{
    background-color: black !important;
}



#mapSection h1{
    color: #093933;
    background-color:transparent;
    font-style: italic;
    text-shadow: 4px 4px white;
    padding-right: 15px;
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
#mapSection img {
    width: 100%;
    /*height:100% ;*/
}


#mapSection b{
    color: red;
    position: absolute;
    font-size: 40px;
    text-shadow: 4px 4px #008;
}

#softuni h1 {
    color: #093933;
    background-color:transparent;
    font-style: italic;
    text-shadow: 4px 4px white;
    padding-right: 15px;
    margin: 0;
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
}

#softuni img {
    width: 80%;
    max-width: 400px;
}


@media only screen and (max-width: 960px) {
    #mapSection h1, #softuni h1 { font-size: 40px !important;}
}
@media only screen and (max-width: 480px) {
    #mapSection h1, #softuni h1 { font-size: 25px !important; }
}

@media only screen and (max-width: 960px) {
    #mapSection b { font-size: 30px !important;}
}
@media only screen and (max-width: 480px) {
    #mapSection b { font-size: 20px !important; }
}