.halloweenImages {

    width: 100%;
    max-width: 650px !important;
    margin-bottom: 5px;
}

body {
    background: url(Images/HalloweenParty/dark-halloween-horror-house-wallpaper.jpg) no-repeat center center fixed !important;
    background-size: cover !important;

}

#halloween{
    font-family: nosifer;
    text-shadow: 0.2em 0.2em 0.2em gray;
    color: red;
    font-size: 5.9em;
    text-align: center;
    border: none !important;
    background: none !important;
}
.navigation{
    display: inline-block;
    color: red;
    font-family: nosifer;}



#next {
    display: inline-block;
    color: red;
    font-family: nosifer;
    float: right;
    font-size: 3em;
    margin-top: 1%;
}


#halloweenContainer {
    overflow: hidden;

}


.halloweenSection {
    padding: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    color: #027365;
}

.halloweenSection h1 {
    color: red;
    font-family: nosifer;
    font-size: 2em;
    text-align: center;
}






.next-transport{
    display: inline-block;
    color: red;
    font-family: nosifer;

}

#transport-prev{
    margin-top: -20%;
    padding-right: 2%;
}
.new-line{
    visibility: hidden;
}
.left-content{
    float: left;
    color: red;
    font-family: nosifer;
    display: inline-block;
    margin-top: -30%;
    width: 25%;
    margin-left: 4%;
}
#welcome-witches{
    width: 48%;
}
#menu-witches{
    margin-left: 5%;
}
#content-dracula{
    width: 20%;
}
#angel{
    width: 45%;
}
body {
    background-image: url(images/halloweenparty/dark-halloween-horror-house-wallpaper.jpg)  !important;
    
    background-size: cover;

}
#transport-next{
    float: right;
}
